version: "3.8"
services:
  tx:
    build: ./docker/tx
    container_name: tx
    volumes:
      - ./liquidsoap:/opt/deva/liquidsoap
      - ./recordings:/opt/deva/recordings
    devices:
      - "/dev/snd:/dev/snd"
    environment:
      - CONTROL_TOKEN=change_me_token
    network_mode: host
    restart: unless-stopped

  rx:
    build: ./docker/rx
    container_name: rx
    volumes:
      - ./liquidsoap:/opt/deva/liquidsoap
      - ./recordings:/opt/deva/recordings
    devices:
      - "/dev/snd:/dev/snd"
    environment:
      - CONTROL_TOKEN=change_me_token_rx
    network_mode: host
    restart: unless-stopped

  web:
    build: ./web
    container_name: web
    ports:
      - "8080:8080"
    environment:
      - TX_CONTROL_URL=http://127.0.0.1:8081
      - RX_CONTROL_URL=http://127.0.0.1:8081
      - CONTROL_TOKEN=change_me_token
    volumes:
      - ./liquidsoap:/opt/deva/liquidsoap
    restart: unless-stopped
